
@{
    ViewBag.Title = "Index";
}



<div class="form-group">
    <h3>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
            <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
        </svg>
        Añadir Cliente
    </h3>
</div>

<div>
    <div class="form-group">
        <small id="emailHelp" class="form-text text-muted">Please, add a Company to continue.</small>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target=".bd-example-modal-lg">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
            </svg>
            Añadir Cliente
        </button>
    </div>
    <div class="form-group">
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Pais</th>
                    <th scope="col">Tipo Entidad</th>
                    <th scope="col">Acción</th>
                </tr>
            </thead>
            <tbody id="idBodyClientes">
            </tbody>
        </table>
    </div>
</div>


<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="modalAg">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z" />
                    </svg>
                    Añadir Cliente
                </h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <label for="inputEmail4">Nombre:*</label>
                            <input type="text" class="form-control" id="idNombre">
                        </div>
                        <div class="col-md-4">
                            <label for="inputEmail4">Pais:*</label>
                            <select id="idPais" class="form-control">
                                <option value="" selected>--Seleccione--</option>
                                <option value="Estados Unidos">Estados Unidos</option>
                                <option value="Puerto Rico">Puerto Rico</option>
                                <option value="Otros">Otros</option>
                            </select>
                            <small id="emailHelp" class="form-text text-muted">Please, add a Company to continue.</small>
                        </div>
                        <div class="col-md-4">
                            <label for="inputEmail4">Tipo de entidad :*</label>
                            <br/>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Individuo" checked>
                                <label class="form-check-label" for="inlineRadio1">Individuo</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Compañia">
                                <label class="form-check-label" for="inlineRadio2">Compañía</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="agregarCliente();">Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="btnCerrarModal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        ListarClientes();
    })

    function ListarClientes() {
        $.ajax({
            type: "POST",
            url: "/Clientes/ListarClientes",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data != null) {
                    var html = "";
                    if (data.length != 0) {
                        for (var i = 0; i < data.length; i++) {
                            html += "<tr>";
                            html += "<td>" + data[i].Nombre + "</td>";
                            html += "<td>" + data[i].Compania + "</td>";
                            html += "<td>" + data[i].Tipo + "</td>";
                            html += "<td><button class = 'btn btn-danger' onclick='eliminarRegistro(" + data[i].IdCliente + ");'> Eliminar </button></td>";
                            html += "</tr>";
                        }
                    } else {
                        html += "<tr><td colspan='7'>No existen registros</td></tr>";
                    }
                    document.getElementById("idBodyClientes").innerHTML = html;
                }
                else {
                    document.getElementById("idBodyClientes").innerHTML = "<tr><td colspan='7'>No existen registros</td></tr>";
                }
            },
            error: function (ex) {
                alert(ex.responseText);
                //ocultarLoader();
            }
        });
    }

    function eliminarRegistro(idCliente) {
        $.ajax({
            type: "POST",
            url: "/Clientes/EliminarCliente",
            dataType: "json",
            data: '{idCliente: ' + JSON.stringify(idCliente) + '}',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                ListarClientes();
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }

    function agregarCliente() {
        var NombreCliente = document.getElementById("idNombre").value;
        var PaisCliente = document.getElementById("idPais").value;

        if (NombreCliente.length == 0) {
            alert("Se debe digitar un nombre");
            return;
        }
        if (PaisCliente == "") {
            alert("Se debe seleccionar un país");
            return;
        }

        var TipoCliente = $('input:radio[name=inlineRadioOptions]:checked').val()
        var Cliente = {
            Nombre: NombreCliente,
            Compania: PaisCliente,
            Tipo: TipoCliente
        }
        $.ajax({
            type: "POST",
            url: "/Clientes/AgregarCliente",
            dataType: "json",
            data: '{objCliente: ' + JSON.stringify(Cliente) + '}',
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                ListarClientes();
                limpiarControles();
                $("#btnCerrarModal").click();
            },
            error: function (ex) {
                alert(ex.responseText);
            }
        });
    }

    function limpiarControles() {
        document.getElementById("idNombre").value = "";
        document.getElementById("idPais").value = "";
    }

</script>


